@use "font";
@use "format";

.wrap {
    max-width : 1436px;
    margin : 0 auto;

    .layout {
        @include format.display(flex, space-between, center);
        margin-bottom : 120px;


        .textarea {
            width : 41.5%;
            background-color : #ffa0a0;

            .title {
                @include font.titleLine;
            }
            .subtitle {
                @include font.subLine;
            }
            .body {
                @include font.bodyPadding;
                span {
                    font-family: font.$en_font;
                }
            }

        }
        
        .img-area {
            width : 58%;
            overflow : hidden;
            background-color : sandybrown;

            img {
                width : 100%;
                height : 100%;
            }
        }
    
    }

    .submain {
        background: burlywood;

        .upper {
            @include format.subMainProject(100%, 200px, 62px, 0, 0);
            @include format.display(flex, space-between, flex-end);

            .link {
                background : url(../../assets/icon/link.png) no-repeat;
    
                a {
                    @include font.bodyPadding;
                    padding : 8px 0 8px 56px;
                    display : inline-block;
                }
            }

            .project_summary {
                @include format.subMainProject(50%, 0px, 0px, 0px, 70px);
                .textarea {
                    background-color : #ffa0a0;
        
                    .title {
                        @include font.titleLine;
                    }
                    .subtitle {
                        @include font.subLine;
                    }
                    .body {
                        @include font.bodyPadding;
                        span {
                            font-family: font.$en_font;
                        }
                    }
        
                }
            }

        }

        .bottom {
            @include format.subMainProject(100%, 0px, 62px, 62px, 0);
            border-top : 1px solid #000;

            @include format.display(flex, flex-end, initial);

            .project_desc {
                @include format.subMainProject(50%, 0px, 0px, 0px, 70px);
            }
        }


    }
    
}

