@use "font";
@use "format";

body {
    font-family: font.$kr_font;
    font-size : font.$font-default;
    line-height : 1.6;
}
  
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color : inherit;
}

::-webkit-scrollbar {
    width: 0px;
}

.wrap {
    max-width : 1436px;
    margin : 0 auto;


    .nav_bar {
        @include format.display(inline-flex, space-between, center);
        width : 100%;
        @include format.padding(30px, 0px);
        background-color : coral;

        .nav_right {
            display : inline-block;

            .nav_right_lng {
                display : inline-block;

                select {
                    @include format.padding(8px, 8px);
                    width : 102px;
                    border : none;
                    background-color: transparent;
                    cursor : pointer;
                    font-family: font.$en_font;
                    font-size: 1.2rem;
                    -webkit-appearance:none; /* for chrome */
                    -moz-appearance:none; /*for firefox*/
                    appearance:none;
                    background: url('./assets/icon/direction_down.png') no-repeat 97% 50%/44px auto;
                }
            }

            .nav_right_menu {
                display : inline-block;
                background-color : orangered;
                cursor : pointer;
                margin-left : 3rem;

                img {
                    vertical-align: middle;
                }

                .wrap_menu {
                    position : absolute;
                    background-color : steelblue;
                    z-index : 999;
                    width : 100%;
                    right : 0;
                    display: flex;
                    justify-content: flex-end;

                    li {
                        @include format.padding(16px, 16px);

                        &.active {
                            color : #fff;
                            text-decoration: underline;
                        }

                    }
                    
                }
            }
        }
    }

    .format {
        @include format.display(flex, space-between, center);
        margin-bottom : 120px;

        &.bottom {
            align-items : flex-end;
        }

        &.slide {
            display : inline-block;
            width : 100%;

            .textarea {
                background-color : rgba(255,255,255,0.5);
                position : absolute;
                top : 5%;
                left : 0;
                z-index : 999;
                padding-bottom : 30px;
            }

            .container {
                width : 90%;
                margin : 0 auto;
    
                .mySwiper {
                    width : 100%;
    
                    .swiperslide > img {
                        width : 100%;
                        // height : 100%;
                        object-fit : cover;
                    }

                    .slide-button {
                        position : absolute;
                        top : 80%;
                        right : 10%;
                        padding : 16px 32px;
                        background-color : #ffa0a0;
                        border-radius : 6px;
                        border : none;
                        cursor : pointer;
                        text-decoration: none;
                        
                    }

                    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal  {
                        bottom: 48.5%;
                        left : 76%;
                        width: 20%;
                        background-color: transparent;
                    }

                    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
                        border-radius: 0;
                        width : 25%;
                        margin : 0;
                        background-color : orangered;
                    }

                }
    
            }
    
        }

        .textarea {
            width : 41.5%;
            background-color : #ffa0a0;

            .title {
                @include font.titleLine;
            }
            .subtitle {
                @include font.subLine;
            }
            .body {
                @include font.bodyPadding;
                span {
                    font-family: font.$en_font;
                }
            }

        }
        
        .img-area {
            width : 58%;
            overflow : hidden;
            background-color : sandybrown;

            img {
                width : 100%;
                height : 100%;
            }
        }
    
    }

    .submain {
        background: burlywood;

        .upper {
            @include format.subMainProject(100%, 200px, 62px, 0, 0);
            @include format.display(flex, space-between, flex-end);

            .link {
                background : url(./assets/icon/link.png) no-repeat;
    
                a {
                    @include font.bodyPadding;
                    padding : 8px 0 8px 56px;
                    display : inline-block;
                }
            }

            .project_summary {
                @include format.subMainProject(50%, 0px, 0px, 0px, 70px);
                .textarea {
                    background-color : #ffa0a0;
        
                    .title {
                        @include font.titleLine;
                    }
                    .subtitle {
                        @include font.subLine;
                    }
                    .body {
                        @include font.bodyPadding;
                        span {
                            font-family: font.$en_font;
                        }
                    }
        
                }
            }

        }

        .bottom {
            @include format.subMainProject(100%, 0px, 62px, 62px, 0);
            border-top : 1px solid #000;

            @include format.display(flex, end, initial);

            .project_desc {
                @include format.subMainProject(50%, 0px, 0px, 0px, 70px);
            }
        }


    }
    
}

.swiperNavPrev, 
.swiperNavNext {
  top : 50%;
  position : absolute;
  transform : translateY(-50%);
  width : 50px;
  height : 50px;
  z-index : 1;
  cursor : pointer;
  background-repeat: no-repeat;
  background-size : contain;
  background-position: center;
}

.swiperNavPrev {
  right : 24.1%;
  background-image: url('./assets/icon/arrow_left.png');
  background-color : #fff;
  border-radius : 50%;
}
.swiperNavNext {
  right : 0;
  background-image: url('./assets/icon/arrow_right.png');
  background-color : #fff;
  border-radius : 50%;
}

