@use "font";
@use "format";

body {
    font-family: font.$kr_font;
    font-size : font.$font-default;
    line-height : 1.6;
}
  
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
  
::-webkit-scrollbar {
    width: 0px;
}

.wrap {
    max-width : 1436px;
    margin : 0 auto;


    .nav_bar {
        width : 100%;
        padding : 30px 0;
        @include format.display;
        background-color : rosybrown;
    }

    .format {
        @include format.display;

        &.bottom {
            align-items : flex-end;
        }

        &.slide {
            display : inline-block;
            width : 100%;

            .textarea {
                background-color : transparent;
                position : absolute;
                top : 5%;
                left : 0;
                z-index : 999;
            }

            .container {
                width : 90%;
                margin : 0 auto;
    
                .mySwiper {
                    width : 100%;
    
                    .swiperslide > img {
                        width : 100%;
                        // height : 100%;
                        object-fit : cover;
                    }

                    .slide-button {
                        position : absolute;
                        top : 80%;
                        right : 10%;
                        padding : 16px 32px;
                        background-color : #ffa0a0;
                        border-radius : 6px;
                        border : none;
                        cursor : pointer;
                        text-decoration: none;
                        
                    }

                    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
                        bottom: 48.5%;
                        right: 4%;
                        width: 20%;
                        background-color: transparent;
                    }

                    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
                        border-radius: 0;
                        width : 25%;
                        margin : 0;
                        background-color : orangered;
                    }

                }
    
            }
    
        }

        .textarea {
            width : 41.5%;
            background-color : #ffa0a0;

            .title {
                @include font.titleLine;
            }
            .subtitle {
                @include font.subLine;
            }
            .body {
                @include font.bodyPadding;
                span {
                    font-family: font.$en_font;
                }
            }

        }
        
        .img-area {
            width : 58%;
            overflow : hidden;
            background-color : sandybrown;

            img {
                width : 100%;
                height : 100%;
            }
        }
    
    }
    
}

.swiperNavPrev, 
.swiperNavNext {
  top : 50%;
  position : absolute;
  transform : translateY(-50%);
  width : 50px;
  height : 50px;
  z-index : 1;
  cursor : pointer;
  background-repeat: no-repeat;
  background-size : contain;
  background-position: center;
}

.swiperNavPrev {
  right : 24.1%;
  background-image: url('./assets/icon/arrow_left.png');
  background-color : #fff;
  border-radius : 50%;
}
.swiperNavNext {
  right : 0;
  background-image: url('./assets/icon/arrow_right.png');
  background-color : #fff;
  border-radius : 50%;
}

